<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="showProductStatus" xsi:type="object">\MM15PL\ProductStatus\Console\Command\ShowProductStatusCommand</item>
                <item name="disableProduct" xsi:type="object">\MM15PL\ProductStatus\Console\Command\DisableProductCommand</item>
                <item name="enableProduct" xsi:type="object">\MM15PL\ProductStatus\Console\Command\EnableProductCommand</item>
            </argument>
        </arguments>
    </type>
    <preference for="\MM15PL\ProductStatus\LibraryApi\ProductStatusAdapterInterface" type="\MM15PL\ProductStatus\Model\ProductStatusAdapter"/>
    <preference for="\MM15PL\ProductStatus\Api\ProductStatusManagementInterface" type="\MM15PL\ProductStatus\Model\ProductStatusManagement"/>
</config>
